@model UI.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">

.main-section-for-home-page{
  position: relative;

  width: 100%;
  overflow: hidden;

}
.content-for-main-page{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 550px;
}
.main-content-over-lay{
  position: absolute;
  background-color: rgba(0,0,0,.3);
  height: 550px;
  width: 100%;
  top: 0;
}
.botom-padding-for-navbar{
  margin-bottom: 60px;
  padding-top: 4px;
}

.slider-data
{
  margin-top: 10px;
}

.main-section-for-home-page
{
  max-height: 550px  ;
  height: 550px  ;

}

    @@media (max-width:500px) and (min-width:245px) {

        .margin_style {
            margin-left: 0px !important;
            padding-left: 10px;
        }

        .abt_nav {
            margin-top: -7px;
            padding-left: 25px;
            background-color: #ff1985;
        }

        .finder-caption {
            margin-bottom: 0px;
            
        }

        .tab {
            display: none;
        }

        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }

        .slider-data {
            margin-top: 65px !important;
        }

        .main-section-for-home-page {
            max-height: 640px;
            height: 640px;
        }
    }


@@media (max-width:768px) and (min-width:520px) {

    .margin_style
    {
     margin-left: 0px !important;
    }
    .navbar-nav
    {
      margin: 0px !important;
    }
    .find-section
    {
      margin-top: 7%;
    }
    .tab
    {
      display: block !important;
    }
    .mobile
    {
      display: none !important;
    }
    .desktop
    {
      display: none !important;
    }
    .main-section-for-home-page
    {
      max-height: 560px !important;
      height: 560px !important;
    }
}

@@media (max-width:3200px) and (min-width:801px) {
    .botom-padding-for-navbar
    {
      margin-bottom: 0px;
    }

   .tab
    {
      display: none;
    }
    .mobile
    {
      display: none;
    }
    .desktop
    {
      display: block;
    }

}

.anchor-for-home{
  color: white !important;
  position: absolute !important;bottom: 3% !important;
  width: 100% !important;text-align: right !important;right: 3% !important;
}
.anchor-for-home > a{
  color: white;
}
.anchor-for-home > a:hover{
  color: #ff1985 !important;
}
.img-for-home-page{
  max-height: 550px;width: 100%;height: 550px;
}
</style>
<style>


.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;

}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {

    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 60px;
}

.sitesearch-box
{
  height: 50px;
  font-size: 20px;
}
.searchresults
{
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;

    max-height: 60vh;
    height: auto;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    width: 98.5%;
}
.search-result
{
  border-bottom:1px solid #fff;
  padding-left: 0;
  padding-top: 20px;
}
.result-heading
{
  padding-left: 0;
}
.result-heading a
{
  font-size: 17px !important;
  font-weight: 800 !important;
  padding-left: 0 !important;
  color: #ff1985 !important;
}

.result-heading a:hover
{
  color:#505050 !important;
}

.result-url
{
  font-size: 16px;
  font-weight: 800;
  padding-left: 0;
  color: #505050;
}
.mymargin
{
  margin-bottom: 10px !important;
}

.previousResults
{
  padding: 10px;
}

.popular-search
{
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-bottom: 10px;
}
.popular-tag
{
      float: left;
    border: 1px solid #ff1985;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    margin: 5px;
}
.popular-tag a
{
  font-size: 12px !important;
}

.popular-tag:hover
{
  background-color: #ff1985;
  color:#fff;
}

.popular-tag:hover a
{
  color:#fff;
}

@@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;

    right: 35px;
  }
}


@@media only screen and (max-width: 768px)
{
  .search-page-heading{
    text-align: center !important;
  }

  .search-page-sub-heading{
    text-align: center !important;
  }
}


</style>



<section id="upcoming-wedding" class="upcoming-wedding-main-block" style="padding-bottom: 0;">
    <div class="container">

        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" style="min-height: 400px !important; ">

            <!--<ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol> -->


            <div class="carousel-inner" style="min-height: 400px !important; ">

                <div class="item active">
                    <div class="row">
                        <div class="col-md-12  my-slide" style="padding:2px 2px; ">
                            <a href="javascript:;">
                                <div style=" background-image: url('');  height:100%; width:100%;">
                                    <span>
                                        <div class="section-heading" style="text-align:center">Find <span style="color:#ff1985; font-style:italic;"> best deals </span> for your Wedding!</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4  my-slide" style=" padding:2px 2px; ">
                            <a href="deals/bridal-shower-package-12.html"><img src="~/Content/userassets/pictures/slider/4105a453da7f5e1c5d52afe9fb818094.jpg" style="width:100%;" class="img-responsive"></a>
                        </div>
                        <div class="col-md-4  my-slide" style=" padding:2px 2px; ">
                            <a href="deals/save-the-date-pre-wedding-shoot-7.html"><img src="~/Content/userassets/pictures/slider/03b6729a2939d1e281b1463f5c55b6c4.jpg" style="width:100%;" class="img-responsive"></a>
                        </div>
                        <div class="col-md-4  my-slide" style=" padding:2px 2px; ">
                            <a href="deals/mehndi-package-11.html"><img src="~/Content/userassets/pictures/slider/946b75bff45e11c405f1bc155b1ba84e.jpg" style="width:100%;" class="img-responsive"></a>
                        </div>
                    </div>
                </div><div class="item ">
                    <div class="row">
                        <div class="col-md-12  my-slide" style="padding:2px 2px; ">
                            <a href="javascript:;">
                                <div style=" background-image: url('');  height:100%; width:100%;">
                                    <span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb60 section-title text-center">
                                                    <div class="section-heading">Your <span style="color:#ff1985; font-style:italic;">Shadi Ki Tyari </span> Begins Here!</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="feature-center">
                                                    <div class="feature-icon">
                                                        <p><img alt="" class="img-responsive" src="~/Content/assets/web/images/section-1/Find.png" style="margin-left:45%" /></p>
                                                    </div>

                                                    <h3>Search</h3>

                                                    <p style="text-align:center">Discover a wide range of verified vendors all accumulated in one platform.</p>
                                                </div>
                                            </div>
                                            <!-- /.feature block -->

                                            <div class="col-md-4">
                                                <div class="feature-center">
                                                    <!-- feature block -->
                                                    <div class="feature-icon">
                                                        <p><img alt="" class="img-responsive" src="~/Content/assets/web/images/section-1/Compare.png" style="margin-left:45%" /></p>
                                                    </div>

                                                    <h3>Compare</h3>

                                                    <p style="text-align:center">Analyze your options that best match your preferences and budget.</p>
                                                </div>
                                            </div>
                                            <!-- /.feature block -->

                                            <div class="col-md-4">
                                                <div class="feature-center">
                                                    <!-- feature block -->
                                                    <div class="feature-icon">
                                                        <p><img alt="" class="img-responsive" src="~/Content/assets/web/images/section-1/Book.png" style="margin-left:45%" /></p>
                                                    </div>

                                                    <h3>Book</h3>

                                                    <p style="text-align:center">Call Marriage Planner concierge for free consultancy and best rates guaranteed.</p>
                                                </div>
                                            </div>
                                            <!-- /.feature block -->
                                        </div>
                                    </span>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="item ">
                    <div class="row">
                        <div class="col-md-12  my-slide" style="padding:2px 2px; ">
                            <a href="profile/Marriage Planner-customized-939.html">
                                <div style=" background-image: url('');  height:100%; width:100%;">
                                    <span>
                                        <div class="section-heading" style="text-align:center">Invite your guests<span style="color:#ff1985; font-style:italic;"> with style! </span> </div>
                                    </span>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-4  my-slide" style=" padding:2px 2px; ">
                            <a href="profile/Marriage Planner-customized-939.html"><img src="~/Content/userassets/pictures/slider/2bc88bf36a98e19934ed700061cc52cb.jpg" style="width:100%;" class="img-responsive"></a>
                        </div>


                        <div class="col-md-4  my-slide" style=" padding:2px 2px; ">
                            <a href="profile/Marriage Planner-customized-939.html"><img src="~/Content/userassets/pictures/slider/029cba7497054c6ce42e6be61ccbcdb0.jpg" style="width:100%;" class="img-responsive"></a>
                        </div>


                        <div class="col-md-4  my-slide" style=" padding:2px 2px; ">
                            <a href="profile/Marriage Planner-customized-939.html"><img src="~/Content/userassets/pictures/slider/236b679ee5a3b8d04d32618672f6647e.jpg" style="width:100%;" class="img-responsive"></a>
                        </div>

                    </div>
                </div>

            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 3000
        })
    });

</script>

<style type="text/css">
    .carousel-fade .carousel-inner .item {
        transition-property: opacity;
    }

    .carousel-fade .carousel-inner .item,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        opacity: 0;
    }

    .carousel-fade .carousel-inner .active,
    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }

        .carousel-fade .carousel-inner .next,
        .carousel-fade .carousel-inner .prev,
        .carousel-fade .carousel-inner .active.left,
        .carousel-fade .carousel-inner .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
</style>

<section id="upcoming-wedding" class="upcoming-wedding-main-block">
    <div class="container">
        <div class="section text-center">
            <h3 class="section-heading">Wedding Inspirations</h3>
            <p class="section-sub-heading">Get inspired and find your perfect look! It’s your time, your day, make it count.</p>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">


                <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
                    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/f1ac4a552e1e83975d410f45a5178ae4.jpg" alt="Wedding Photos" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="item ">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/b1ba86f8e44ab0d1bc327bd0f19436cb.jpg" alt="Wedding Photos" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="item ">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/59f72fdacdaa6193a8e99623762fce80.jpg" alt="Wedding Photos" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>


                        </div><div class="city-dtl text-center inspiration-title">
                            <h6 class="city-dtl-heading">Wedding Photos</h6>
                        </div>
                    </div>
                </div><div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/9aa8f0a6e4c8504da2aadcf4249aed7a.jpg" alt="Real Weddings" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="item ">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/3bace966075de64e73e529fc79335b84.jpg" alt="Real Weddings" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="item ">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/97e25bb2344ee542119d7d35493547a6.jpg" alt="Real Weddings" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>


                        </div><div class="city-dtl text-center inspiration-title">
                            <h6 class="city-dtl-heading">Real Weddings</h6>
                        </div>
                    </div>
                </div><div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/c97d4dbb9925c0104acf4d556bfdd132.jpg" alt="Wedding Songs" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="item ">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/2a34ead33d9f981129d4a9247d809f5b.jpg" alt="Wedding Songs" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="item ">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/c17f5d97ead06132e457e13bc4ee96fc.jpg" alt="Wedding Songs" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>


                        </div><div class="city-dtl text-center inspiration-title">
                            <h6 class="city-dtl-heading">Wedding Songs</h6>
                        </div>
                    </div>
                </div><div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
                    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/9a4087da3ede65f281c660dd24f3921f.jpg" alt="Wedding Filmography" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="item ">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/710ebae10f264c91e156fec9666a9162.jpg" alt="Wedding Filmography" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="item ">
                                <a href="#">
                                    <div class="location-block">
                                        <div class="city-img" style="height: 235px;">
                                            <img src="~/Content/userassets/pictures/wedding_inspirations/3c2425383009d2806cb18049d58b8750.jpg" alt="Wedding Filmography" class="img-responsive  animated " style="height: 237px;">
                                            <div class="overlay-bg"></div>
                                        </div>

                                    </div>
                                </a>
                            </div>


                        </div><div class="city-dtl text-center inspiration-title">
                            <h6 class="city-dtl-heading">Wedding Filmography</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="vendor-categories" style="background-color: #fff !important;" class="vendor-categories-main-block">
    <div class="container">
        <div class="section text-center">
            <h3 class="section-heading">Popular Vendor Categories</h3>
            <p class="section-sub-heading">From photographers to party venues and from wedding halls to wardrobes for the couple, we got it all. Explore with us and find the best!</p>
        </div>
        <div class="row">
            @foreach (var item in Model.ServiceCategories)
            {
                <div class="column col-md-4 col-sm-6 col-lg-4   col-lg-offset-0  col-md-offset-0 col-sm-offset-0">
                    <a href="@Url.Action("Index","ServiceProvider",new {@categoryId=item.Id})">
                        <div class="category-listing-section">
                            <div class="category-listing-dtl">
                                <div class="category-listing-img">
                                    @if (item.Picture != null) {
                                        <img src="@item.Picture" class="img-responsive" alt="vendor-category">
                                    }
                                    else {
                                        <img src="https://www.hamarishadi.com/wp-content/uploads/2012/12/Pakistan-shadi.gif" class="img-responsive" alt="vendor-category">
                                    }
                                </div>
                                <div class="category-info"> </div>
                            </div>
                            <div class="category-listing-text">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="vendor-category" style="font-weight: 700;">@item.Name</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

<section id="testimonial-block" class="testimonial-main-block" style="background-image: url('~/Content/assets//web/images/bg/call-out-parr.jpg');">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="section text-center">
            <h3 class="section-heading">Words From Our Happy Clients</h3>
            <p class="section-sub-heading">When we plan, people do love it. Here’s a sneak peak of what they have to say!</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <center>
                    <img style="border-radius: 50%;max-height: 100px; max-width: 100px;" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" class="img-responsive" alt="testimonial"><br>
                    <p style="font-weight: 800;color: white;">Ibrar Akhtar</p>
                    <p class="testimonial-comment" style="color: white;font-size: 18px;">
                        “ The design of the tent was really aesthetically pleasing, and blended well with festivity. I was really lucky to book through Marriage Planner. Reasonable and professional!&nbsp;
                        ”
                    </p><br>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <center>
                    <img style="border-radius: 50%;max-height: 100px; max-width: 100px;" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" class="img-responsive" alt="testimonial"><br>
                    <p style="font-weight: 800;color: white;">Usman Gul</p>
                    <p class="testimonial-comment" style="color: white;font-size: 18px;">
                        “ Arranged my brother&#39;s wedding using Marriage Planner and it was an excellent experience. Everything was booked and arranged seamlessly and my brother (who is in the US) was easily able to pick everything he liked from the venue to the photographer. WIll definitely recommend this to everyone!
                        ”
                    </p><br>
                </center>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <center>
                    <img style="border-radius: 50%;max-height: 100px; max-width: 100px;" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" class="img-responsive" alt="testimonial"><br>
                    <p style="font-weight: 800;color: white;">Imran Khan</p>
                    <p class="testimonial-comment" style="color: white;font-size: 18px;">
                        “ Used Marriage Planner.com for my best friends wedding cake. Was absolutely shocked with the amazing service especially as I live in UK. Thanks to customer care for keeping in touch with me throughout and keeping me informed. Thank you to Marriage Planner. Will definitely be using you again.
                        ”
                    </p><br>
                </center>
            </div>
        </div>
    </div>
</section>

<section id="why-choose" style="background-color: #fff !important;" class="why-choose-main-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="hidden-xs hidden-sm why-choose-img">
                    <img src="~/Content/assets/web/images/home/Why-choose.jpg" style="margin-top: 50px;" class="img-responsive" alt="why-choose">
                </div>
            </div>
            <div class="col-md-8">
                <div class="section">
                    <div class="row">
                        <div class="col-sm-5">
                            <h3 class="section-heading">Why Choose <span> MARRIAGE PLANNER</span></h3>
                        </div>
                        <div class="col-sm-7">
                            <p class="section-sub-heading">The best online platform where you can imagine your dream wedding, and make it a reality. We’ll help you solve your wedding planning woes in truly exceptional ways.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="why-block">
                            <div class="why-icon">
                                <i class="flaticon-two-hearts"></i>
                            </div>
                            <h4 class="why-choose-heading">Exclusive Deals</h4>
                            <p>We guarantee you exclusive deals and the most sought after packages at the best prices; what you do with all those savings is totally up to you.</p>
                        </div>
                        <div class="why-block">
                            <div class="why-icon">
                                <i class="flaticon-food"></i>
                            </div>
                            <h4 class="why-choose-heading">Verified Vendors</h4>
                            <p>We have handpicked the vendors, visited their facilities, and verified their services. Our honest review system ensures only those that guarantee the best services deserve your valuable business.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="why-block">
                            <div class="why-icon">
                                <i class="flaticon-valentine-day"></i>
                            </div>
                            <h4 class="why-choose-heading">Free Concierge Services</h4>
                            <p>Whatever you’re looking for in your budget our experts or free wedding concierge will find best deals for you. </p>
                        </div>
                        <div class="why-block">
                            <div class="why-icon">
                                <i class="flaticon-wedding-day"></i>
                            </div>
                            <h4 class="why-choose-heading">Wedding Innovations</h4>
                            <p>Find ideas for outfits, decorations, wedding favors and many more. Save inspirations in your dream board and use our planning tools to keep everything perfect.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>










