<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <div style="padding: 0px;" class="collapse navbar-collapse responsive_nav" id="menu">
        <ul class=" nav home_nav navbar-nav margin_style" id="pad_nav ">
            <li style="border:none;margin-bottom: 0;" class="hover">
                <a href="deals.html">DEALS <i class="fa fa-angle-down" aria-hidden="true"></i></a>

                <ul class="sub-menu"><li><a href="deals049c.html?category=engagement-deals-1">Engagement Deals</a></li> <li><a href="dealsc43a.html?category=mehndi-deals-2">Mehndi Deals</a></li> <li><a href="dealsebdb.html?category=barat-deals-3">Barat Deals</a></li> <li><a href="deals623b.html?category=walima-deals-4">Walima Deals</a></li> <li><a href="deals8779.html?category=special-deals-5">Special Deals</a></li> </ul>
            </li>
            <li style="border:none;margin-bottom: 0;" class="hover ">
                <a href="@Url.Action("Index","Vendor")"> VENDORS <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="sub-menu">
                    <li><a href="vendors/venues.html">Venues</a></li>

                    <li><a href="vendors/photographers.html">Photographers</a></li>

                    <li><a href="vendors/caterers.html">Caterers</a></li>

                    <li><a href="vendors/car-rentals.html">Car Rentals</a></li>

                    <li><a href="vendors/decorators.html">Decorators</a></li>

                    <li><a href="vendors/event-managers.html">Event Managers</a></li>

                    <li><a href="vendors/salons.html">Salons</a></li>

                    <li><a href="vendors/cakes.html">Cakes</a></li>

                    <li><a href="vendors/invitations.html">Invitations</a></li>

                    <li style=" border-top: 1px solid #ff1985; ">
                        <a style="color: #ff1985;" href="@Url.Action("SignUp","Vendor")">Are you vendor? Join Us</a>
                    </li>
                </ul>
            </li>
            <li style="border:none;margin-bottom: -3px;" class="hover ">
                <a href="#"> INSPIRATION <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="sub-menu">
                    <li class=""><a href="wedding-photos.html">Wedding Photos</a></li>
                    <li class=""><a href="real-weddings.html">Real Weddings</a></li>
                    <li class=""><a href="wedding-songs.html">Wedding Songs</a></li>
                    <li class=""><a href="wedding-filmography.html">Wedding Filmography</a></li>

                </ul>
            </li>
            <!-- <li class=" active"><a href="https://www.shadibox.com/">HOME</a> </li> -->
            <!-- <li><a href="https://www.shadibox.com/shop/">SHOP</a></li>  -->
            <li class="">
                <a href="events.html">EVENTS</a>
            </li>
            <li><a href="blog/index.html">BLOG</a></li>
            <!--  <li class=""><a href="">CONTACT US</a>
            </li> -->

        </ul>
        <ul class="nav abt_nav navbar-nav navbar-right">

            <li class=""><a href="@Url.Action("SignUp","Vendor")">JOIN AS VENDOR</a></li>
            <li class=""><a href="@Url.Action("Login","Account")" class="li_res">LOG IN</a></li>
        </ul>

    </div>