<ul class="couple-dashboard-tabs general-nav-tabs tabs">
    <li><a href="@Url.Action("Dashboard","Account")" class="active btn btn-default"><span class="badge">Home</span></a></li>
    <li><a href="@Url.Action("Profile","Account")" class="btn btn-default"><span class="badge">Profile</span></a></li>
    <li><a href="javascript:;" class="btn btn-default"><span class="badge">Inquiries</span></a></li>
    <li><a href="javascript:;" class="btn btn-default"><span class="badge">Events</span></a></li>
    <li><a href="javascript:;" class="btn btn-default"><span class="badge"> Guests</span></a></li>
    <li><a href="javascript:;" class="btn btn-default"><span class="badge"> Budget</span></a></li>
    <li><a href="javascript:;" class="btn btn-default"><span class="badge">Checklist</span></a></li>
    <li><a href="javascript:;" class="btn btn-default"><span class="badge">Notifications</span></a></li>
</ul>
