
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


@Html.Partial("_CoverSection")

<section id="couple-dashboard" class="couple-dashboard-main-block">
    <div class="container-fluid">
        @Html.Partial("_NavigationButtons")
        <div class="couple-dashboard-block body_section">
            <h3 class="couple-dashboard-heading dashboard-heading">My Dashboard</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-wedding-day"></i>
                        </div>
                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">RS. 0.00</h2>
                            <div class="dashboard-text">Total Payable</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-wedding-planning"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">RS. 0.00</h2>
                            <div class="dashboard-text">Paid Amount</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-honeymoon-luggage"></i>
                        </div>
                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">RS. 0.00</h2>
                            <div class="dashboard-text">Unpaid Amount</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">0</h2>
                            <div class="dashboard-text">Total Events</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">0</h2>
                            <div class="dashboard-text">Completed Events</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">0</h2>
                            <div class="dashboard-text">Ongoing Events</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-heart-shaped-padlock"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">0 <button onclick="load_user_media('liked-photos')" class="btn btn-small" style="float: right;">VIEW PHOTOS</button></h2>
                            <div class="dashboard-text">Picture Likes</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-wedding-invitation"></i>
                        </div>

                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number ">0 <button onclick="load_user_media('liked-vendors')" class="btn btn-small" style="float: right;">VIEW PROFILES</button></h2>
                            <div class="dashboard-text">Profile Likes</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="my-dashboard">
                        <div class="background-image">
                            <i class="flaticon-wedding-invitation"></i>
                        </div>
                        <div class="facts-block dashboard-dtl">
                            <h2 class="facts-number counter">0</h2>
                            <div class="dashboard-text">Inquiries Sent</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="my-progress-dashboard text-center">
                        <h4 class="progress-bar-heading">Profile Completed</h4>
                        <div class="progress-pie-chart gt-50" data-percent="20">
                            <div class="ppc-progress">
                                <div class="ppc-progress-fill" style="transform: rotate(72deg);"></div>
                            </div>
                            <div class="ppc-percents">
                                <div class="pcc-percents-wrapper">
                                    <span>20%</span>
                                    <div class="text">completed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

